<div class="container">
    <h1>Article</h1>
    <%= link_to "All Articles", articles_path, class: 'btn waves-effect waves-light blue', type: 'submit' %>
    <p>
        <%= @article.title %> </br>
    </p>

    <p>
        <%= @article.link %> </br>
    </p>


    <p>
        <%= @article.aasm_state %>
    </p>

    <p>
        submitted <%= time_ago_in_words(@article.created_at) %> ago </br>
    </p>
</div>
